<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        color: #333333;
        border: 1px solid #333333;
        border-radius: 4px;
      }
      .logo {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 1rem 0rem;
        width: 50%;
      }
      .hero {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background-color: #3d2267;
        padding: 4rem 2rem;
      }
      .content {
        padding: 0.7rem;
        background-color: #f6ebff;
      }
      .name {
        color: #5a298b;
        font-size: 24px;
      }
      .demat-account-link,
      .dashboard-link {
        text-decoration: none;
        color: #5a298b;
        border: 1px solid #5a298b;
        padding: 12px;
        width: fit-content;
        font-weight: bolder;
        border-radius: 4px;
        margin-top: 8px;
      }
      .demat-account-link:hover,
      .dashboard-link:hover {
        color: purple;
      }

      @media only screen and (max-width: 600px) {
        .logo {
          width: 100%;
        }
        .upstox-logo {
          width: 50%;
        }
      }
    </style>
  </head>
  <body>
    <div class="logo">
      <img width="100%" src="cid:logo.ee" />
    </div>
    <div class="hero">
      <img width="90%" src="cid:welcome-hero-img.ee" />
    </div>
    <div class="content">
      <strong class="name">Hello,</strong>

      <p>We hope this email finds you well.</p>

      <p>
        We noticed that you haven't yet taken advantage of our exclusive offer
        to open a demat account and become a 50% partner in the brokerage
        generated. We believe this opportunity could significantly enhance your
        financial prospects and empower you to maximize your earnings. By
        opening a demat account with us, not only will you become a valued
        partner in the brokerage generated, but you'll also receive a bonus
        ranging from ₹100 to ₹500. This bonus is our way of expressing
        appreciation for your partnership and commitment.
      </p>
      <strong>
        To open your demat account in upstox and claim your benefits, simply
        click on the link below:</strong
      >
      <strong>Upstox is well truted broker, charges very less</strong>
      <br /><br />
      <a
        class="demat-account-link"
        href="https://upstox.com/open-account/?f=JD1505"
        >Open Your Demat Account Now</a
      >
      <br /><br />
      <div class="upstox-logo">
        <img width="50%" src="cid:upstox-logo.ee" />
      </div>
      <br /><br />
      <p>
        To visit our website to see your dashboard:<br /><br />
        <a class="dashboard-link" href="https://brokrag-sharing-ui.vercel.app/"
          >Click here to visit dashobard</a
        >
      </p>
      <br />
      Once logged in, you'll have access to a wealth of information that will
      empower you to make informed decisions about your brokerage earnings.
      Thank you once again for being a valuable member of our community. We look
      forward to seeing your continued success!
      <br /><br /><br />
      <strong
        >Best regards, <br />
        Himanshu Jain, <br />
        50% Brokerage Sharing</strong
      >
    </div>
  </body>
</html>
