<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        color: #333333;
        border: 1px solid #333333;
        border-radius: 4px;
      }
      .logo {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 1rem 0rem;
        width: 50%;
      }
      .hero {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background-color: #3d2267;
        padding: 4rem 2rem;
      }
      .content {
        padding: 0.7rem;
        background-color: #f6ebff;
      }
      .name {
        color: #5a298b;
        font-size: 24px;
      }
      .demat-account-link,
      .dashboard-link {
        text-decoration: none;
        color: #5a298b;
        border: 1px solid #5a298b;
        padding: 12px;
        width: fit-content;
        font-weight: bolder;
        border-radius: 4px;
        margin-top: 8px;
      }
      .demat-account-link:hover,
      .dashboard-link:hover {
        color: purple;
      }

      @media only screen and (max-width: 600px) {
        .logo {
          width: 100%;
        }
        .upstox-logo {
          width: 50%;
        }
      }
    </style>
  </head>
  <body>
    <div class="logo">
      <img width="100%" src="cid:logo.ee" />
    </div>
    <div class="content">
      <strong class="name">Hello, <%= name %></strong>
      <p>This your OTP - <%= otp %></p>
      <strong>This OTP is valid for 2 min only</strong>
      <br /><br /><br />
      <strong
        >Best regards, <br />
        Himanshu Jain, <br />
        50% Brokerage Sharing</strong
      >
    </div>
  </body>
</html>
